spring:
  application:
    name: analytics

  datasource:
    url: jdbc:postgresql://localhost:5432/analytics?currentSchema=public
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    platform: postgres

  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate.jdbc.time_zone: UTC

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: transaction-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

finnhub:
  api:
    key: ${API_KEY}

app:
  kafka-topic: demo-topic

server:
  port: 8081
